body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  /* background-color: #FFCCCC; */
  background-image: url(./Assets/background.PNG);
}

h1{
  font-family: 'Rock Salt', cursive;
  font-size: 48px !important;
  font-weight:bold !important;
  /* display: inline-block; */
}

textarea{
  background: transparent;
  /* border: none; */
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 5px;
  overflow-y: auto;
}

.jumbotron {
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 0;
  /* border-bottom: 5px solid #990000; */
  border-bottom: 5px solid black;
  padding:0;
  margin: 0;
}

.imgGif{
  max-height: 150px;
  width: auto;
  margin:0;
  padding:0;
  display: inline-block;
}

.container{
  margin-bottom: 50px;
}

.description{
  white-space: pre-wrap;
  width:80%;
  height:100%;
}

.time-block{
  white-space: pre-wrap;
  height: 80px;
  margin-top: 1px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  /* display: block; */
}

.smallEl {
  padding:0;
  color: #000000;

  text-align: center;
  border-radius: 15px;
  width:10%;
  height:100%;
  display: inline-block;
  margin-top: 0;
  vertical-align: top;
}

.hour{
  border-top: 1px dashed #000000;
  font-weight:bolder;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #FFCCCC;
  color: black;
  font-weight:bold;
  border: 3px solid black;
}

.future {
  background-color: #CC6666;
  color:white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #990000;
  color: white;
  height:100%;
  width:100%;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

footer{
  text-align: center;
  background-color: white;
  padding: 10px 0 0 0;
  font-size: 14px;
  font-weight: bold;
  border-top: 1px solid black;
}